Django==1.5.4
PyYAML==3.10
argparse==1.2.1
distribute==0.6.24
gunicorn==18.0
ipdb==0.8
ipython==1.1.0
libsaas==0.3
numpy==1.7.1
oauthlib==0.6.0
python-openid==2.2.5
python-social-auth==0.1.13
requests==2.0.0
requests-oauthlib==0.3.3
scikit-learn==0.14.1
six==1.4.1
textblob==0.7.0
wsgiref==0.1.2
