{% extends "hatersgonnagit/base.html" %}
{% load staticfiles %}
{% block container %}
<div class="page-header" id="loading">
  <h1>Fetching <span id="element-progress"></span>...</h1>
  <div class="progress progress-striped active">
    <div id="elements-progress" class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"><span class="sr-only">10%</span></div>
  </div>
</div>

<div class="jumbotron" id="scores" style="display: none;">
  <h1>Yo! <a id="hater" href='#'></a> is gonna hate</h1>
  <p class="lead centered">
    <canvas id="canvas"></canvas>
  </p>
  <p><a class="btn btn-lg btn-success" href="#">The Most Hater Eva</a></p>
</div>
{% endblock %}

{% block extra_scripts %}
  <script>
    haters.urls = {
      'commits': "{% url "commits_view" repo.owner.login repo.name %}",
      'issues': "{% url "issues_view" repo.owner.login repo.name %}",
      'comments': "{% url "comments_view" repo.owner.login repo.name %}",
    };
    haters.images = [
      {
        'src': "{% static "hatersgonnagit/images/megahater.gif" %}",
        'width': 528,
        'height': 384,
        'x': 220,
        'y': 80
      }
    ];
  </script>
  <script src="{% static "hatersgonnagit/scripts/repo.js" %}"></script>
{% endblock %}
